<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A research Tool">
    <meta name="author" content="Alexander Fuchsberger">

    <title>Crowd Crush</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div id='react-app'></div>


    <script type="text/javascript">

      window.authFields = {
        email : {
          error : "<%= if @changeset.errors[:email] do elem(@changeset.errors[:email], 0) end %>",
          value : "<%= @changeset.changes[:email] %>"
        },
        password : {
          error : "<%= if @changeset.errors[:password] do elem(@changeset.errors[:password], 0) end %>",
          value : ""
        },
        username : {
          error : "<%= if @changeset.errors[:username] do elem(@changeset.errors[:username], 0) end %>",
          value : "<%= @changeset.changes[:username] %>"
        },
        name : {
          error : "<%= if @changeset.errors[:name] do elem(@changeset.errors[:name], 0) end %>",
          value : "<%= @changeset.changes[:name] %>"
        }
      }

      window.error = <%= if assigns[:error] do %>"<%= assigns[:error] %>"<% else %>null<% end %>
      window.flash = {
        error : <%= if get_flash(@conn, :error ) do %>"<%= get_flash(@conn, :error ) %>"<% else %>null<% end %>,
        info  : <%= if get_flash(@conn, :info ) do %>"<%= get_flash(@conn, :info ) %>"<% else %>null<% end %>
      }
      window.csrfToken = "<%= get_csrf_token() %>"
      window.userID = <%= if @current_user do @current_user.id else "null" end %>
      window.userToken = <%= if assigns[:user_token] do %>"<%= assigns[:user_token] %>"<% else %>null<% end %>
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>


